# compiled output
/dist
/node_modules
.webpack

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
/coverage
junit/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.ipr
*.iml
*.iws
.factorypath
target/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Serverless 
.serverless
.vscode
node_modules/
dependency-reduced-pom.xml
.settings
.classpath
.project
.factorypath
.DS_Store
junit
